*.iml
.gradle
/local.properties
local.properties
/.kotlin
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
stitch_design/
stitch_fraudlens_ml_insurance_risk_system.zip
backend/*.db
node_modules/


